// Copy this file to config.js, and edit it to use your configuration information
// for both PostgreSQL and Redis.

exports.config = {
	postgresql: {
		host: "localhost",
		port: 5432,
		username: "",
		password: ""
	},
	redis: {
		host: "localhost",
		port: 6379
	}
};